.pageStyles {
  color: #232129;
  padding: 96px;
  font-family: -apple-system, Roboto, sans-serif, serif,
}

.headingStyles {
  margin-top: 0;
  margin-bottom: 64;
  max-width: 320;
}

.paragraphStyles {
  margin-bottom: 48;
}

.codeStyles {
  color: #8A6534;
  padding: 4;
  background-color: #FFF4DB;
  font-size: 1.25rem;
  border-radius: 4;
}