@import '../../assets/styles/variables.scss';

.pageStyles {
    color: var(--primary-color);
    padding: 96px;
    font-family: 'Optimo-Plain', sans-serif;
}

.headingStyles {
    margin-top: 0;
    margin-bottom: 64;
    max-width: 320;
}

.paragraphStyles {
    margin-bottom: 48;
}

.codeStyles {
    color: $secondarycolor;
    padding: 4;
    background-color: $white;
    font-size: $font-size-404;
    border-radius: 4;
}
