@import './variables.scss';

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Medium.otf') format('opentype');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Light.otf') format('opentype');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: $gutter;
    padding: $gutter;
    font-family: 'Optimo-Plain';
    font-size: $font-size-normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.m-0 {
    margin: $gutter;
}

.container {
    padding: 10px 36px;
}

/*active class with background*/

.activelink {
    background: $hovercolor;
    color: $secondarycolor !important;
}

/*end active class with background*/

/*active class without background*/

.active {
    color: $secondarycolor;
}

/*active class without background*/

/*visited class*/

.visited {
    color: $disabledcolor;
}

/*end visited class*/

.documentBody {
    width: calc(100% - 310px);
    float: right;
}

.introWrapper {
    display: flex;
}

button {
    cursor: pointer;
}

/*Scrollbar styling start*/
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar {
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $darkgrey;
    outline: none;
    border-radius: 4px;
}

/* Scrollbar styling end*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .documentBody {
        width: calc(100% - 260px);
    }
}
