@import './variables.scss';
@import './padding.scss';
@import './margin.scss';

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Medium.otf') format('opentype');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Light.otf') format('opentype');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: $gutter;
    padding: $gutter;
    font-family: 'Optimo-Plain';
    font-size: $font-size-normal;
}

main {
    display: flow-root;
    background-color: var(--body-background-color);
}

main.withHeaderFooter {
    padding-top: 51px;
    display: flex;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.m-0 {
    margin: $gutter;
}

.containerWrapper {
    padding: 10px 25px;
}


.d-inline-block {
    display: inline-block;
}

/*active class with background*/

.activelink {
    background: $hovercolor;
    color: var(--secondary-color);
}

/*end active class with background*/

/*active class without background*/
/*to override document componet style used important*/
.active {
    color: var(--secondary-color) !important;
}

/*active class without background*/

/*visited class*/

.visited {
    color: $disabledcolor;
}

/*end visited class*/

.introWrapper {
    display: flex;
    margin-top: $document-margin-top;
}

button {
    cursor: pointer;
}

.widthAuto {
    width: auto;
    img {
        width: auto;
        max-width: 100%;
    }
}

.bordered img {
  border: 1px solid var(--border-color);
}

.displayNone {
    display: none;
}

.icon {
    color: var(--icon-color);
}

/*Tags style start*/

.video {
   width: 800px;
   height: 600px;
}

.tag {
    border-radius: $tag-border-radius;
    display: inline-block;
    font-size: $tag-font-size !important;
    font-weight: $tag-font-weight !important;
    height: $tag-height;
    line-height: $tag-line-height !important;
    margin-right: $tag-margin-right;
    text-align: center;
    min-width: $tag-width;
    padding: $tag-padding;
    color: $tag-font-color;
}

.version {
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    height: 25px;
    line-height: $line-height-doc;
    text-align: center;
    min-width: $tag-width;
    margin: 5px;
    padding: $tag-padding;
    color: var(--primary-color);
    border: solid 1px;
    border-color: $tip-color;
}


.eaTag {
    border-radius: $beta-border-radius;
    display: inline-block;
    font-size: 13px;
    font-weight: $font-weight-normal;
    height: 22px;
    line-height: $line-height-doc;
    text-align: center;
    min-width: $tag-width;
    padding: $beta-padding;
    color: $tag-font-color;
    margin-right: 1px;
}

.beta {
    border-radius: $beta-border-radius;
    display: inline-block;
    font-size: 13px;
    font-weight: $font-weight-normal;
    height: 22px;
    line-height: $line-height-doc;
    text-align: center;
    min-width: $tag-width;
    padding: $beta-padding;
    color: $tag-font-color;
    margin-right: 1px;
}



.blueBackground {
    background-color: $note-color;
}

.purpleBackground {
    background-color: $caution-color;
}

.redBackground {
    background-color: $important-color;
}

.greenBackground {
    background-color: $tip-color;
}

.greyBackground {
    background-color: #C0C6CF;
}

.greyDarkBackground {
    background-color: #A5ACB9;
}

.greyLightBackground {
    background-color: #EAEDF2;
}

.orangeBackground {
    background-color: $warning-color;
}

.yellowBackground {
    background-color: $tag-color-yellow;
}

.noBackground {
    background-color: $tag-color-white;
}

.lightBackground {
    background-color: $tag-color-light;
}

.eaBackground  {
    background-color: #8c62f5;
}
.betaBackground {
    background-color: #06BF7F;
}



/*Tags style end*/

/* Div box style start */

.announcementBlock {
    border: 0.5px solid $disabledcolor;
    font-color: var(--announcement-font-color);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: $padding-sm $padding-sm $padding-sm $padding-md;
    background-color: var(--announcement-block-color);
    }

.boxDiv {
    padding: 15px;
    display: inline-block;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-top: 0.5px solid $lightgrey;
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.container {
    margin:0 0 30px 0;
    padding: 5px;
    width: auto;

}

.homeHeader {
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 0;
    vertical-align: top;
}

.homeHeaderText {
      display: inline-block;
      padding: 5px 5px 5px 20px;
      width: 600px;
      max-width: 33%;
      margin: 0;
      vertical-align: top;
}

.homeBullet {
    border-radius: 25pt;
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: $tag-line-height !important;
    margin-right: $tag-margin-right;
    text-align: center;
    min-width: auto;
    padding: 0 8px 0 8px;
    color: $darkblue;
}

.blockHome{
    border-top: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    margin: 20px 10px 5px 10px;

}

.blockHomeContent{
    padding: 15px;
    display: inline-block;
    margin: 10px;
}

.boxHalfWidth {
    display: inline-block;
    padding: 15px;
    height: 225px;
    max-height: 500px;
    width: 475px;
    max-width: 500px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.boxFullWidth {
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 15px;
}

.divider {
    border-bottom: 0.5px solid var(--border-color);
    display: block;
    width: 100%;
    margin: 5px auto;
}


.boxBody {
    font-size: 13px;
    font-weight: $font-weight-normal;
    line-height: 18pt;
    color: var(--primary-color);
    padding: 5px;
}

.introList {
    font-size: 13px;
    font-weight: $font-weight-normal;
    line-height: 18pt;
    color: var(--primary-color);
    padding: 5px 5px $padding-md 5px;
    overflow: auto;
}

.boxAuto {
    border: 0.5px solid $disabledcolor;
	height: auto;
	width: 100%;
	padding: 0 0 0 2px;
}

.tableContainer {
    border: 0.5px solid $disabledcolor;
    padding: 0 0 0 5px;
    overflow-x: auto;
}

.videoContainer {
    border-radius: 10px;
    overflow-x: auto;
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 15px;
}

summary.title  {
    font-size: $font-size-summ-title;
    margin-top: $margin-sm;
    margin-left: 3px;
    font-weight: $font-weight-normal;
    line-height: $line-height-doc;
    color: var(--primary-color);

}


.introTile {
    padding: $padding-md;
    display: inline-block;
    margin: 1px;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-top: 0.5px solid $lightgrey;
    height: 700px;
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.cardHead {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    color: var(--primary-color);
    font-size: $font-size-h5;
    margin: auto;
    padding: 10px;
    font-weight: $font-weight-bold;

}

.cardBlockHeading {
       margin-top: $margin-lg;
       padding-bottom: $padding-sm;
       border-bottom: 1px solid var(--border-color);
       font-size: 26px;
       font-weight: $font-weight-bold;
       text-align: center;
}


a.anchor {
    position: absolute;
    text-decoration: none;
    width: 1.75ex;
    margin-left: -1.5ex;
    visibility: hidden;
    font-size: .8em;
    font-weight: 400;
    padding-top: 0.05em;
}


.introCard     {
    padding: 15px;
    display: inline-block;
    position: relative;
    height: 225px;
    max-height: 500px;
    width: 300px;
    max-width:400px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}



/* Div box style end */

/*Scrollbar styling start*/
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar {
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    outline: none;
    border-radius: 4px;
}

/* Scrollbar styling end*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .documentBody {
        width: calc(100% - 260px);
    }

    .homeBanner {
        display: none;
    }

    .homeHeader {
         width: 100%;
         max-width: 100%;
        }

    .documentWrapper {
        width: 100%;
    }
    .homeHeaderText {
         width: 100%;
         max-width: 100%;
    }
    .homeHeader {
         width: 100%;
    }
    .introTile {
         height: 100%;
         margin: 10px;
    }
    .boxBody {
        font-size: 12px;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .introWrapper {
        margin-top: $margin-top-mobile;
        padding: 5px;
    }

    .homeBanner {
       display: none;
    }

    .homeHeader {
            width: 100%;
            max-width: 100%;
    }

     .blockHome {
         border: 0;
     }

     .documentWrapper {
          documentView {
                 padding-left: 5px;
             }
     }

    .containerWrapper {
        padding: 10px 10px 10px 12px;
    }

    .documentBody {
        width: 100%;
        padding-left: 0;
    }

    .homeHeaderText {
        width: 100%;
        max-width: 100%;
        border-top: 0.5px solid var(--border-color);
    }

    .blockHome {
             border: 0;
    }

   .introCard {
        width: 100%;
    }

    .boxDiv {
        width: 100%;
    }

    .boxHalfWidth {
        width: 100%;
    }

    .introTile {
        height: 100%;
        margin: 5px;
    }
    .tableContainer {
	overflow: scroll;
}
}

@media screen and (max-width: $mobile-resolution-max) {
    main.withHeaderFooter {
        flex-direction: column;
    }
}

.searchResultHighlightColor {
    color: var(--secondary-color);
}
