@import './variables.scss';
@import './padding.scss';
@import './margin.scss';

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Medium.otf') format('opentype');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Light.otf') format('opentype');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: $gutter;
    padding: $gutter;
    font-family: 'Optimo-Plain';
    font-size: $font-size-normal;
}

main {
    display: flow-root;
    background-color: var(--body-background-color);
}

main.withHeaderFooter {
    padding-top: 51px;
    display: flex;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.m-0 {
    margin: $gutter;
}

.containerWrapper {
    padding: 10px 25px;
}

.d-inline-block {
    display: inline-block;
}

/*active class with background*/

.activelink {
    background: $hovercolor;
    color: var(--secondary-color);
}

/*end active class with background*/

/*active class without background*/
/*to override document componet style used important*/
.active {
    color: var(--secondary-color) !important;
}

/*active class without background*/

/*visited class*/

.visited {
    color: $disabledcolor;
}

/*end visited class*/

.documentBody {
    padding-left: 6px;
}

.introWrapper {
    display: flex;
    margin-top: $document-margin-top;
}

button {
    cursor: pointer;
}

.widthAuto {
    width: auto;
    img {
        width: auto;
    }
}

.displayNone {
    display: none;
}

.icon {
    color: var(--icon-color);
}

/*Tags style start*/

.tag {
    border-radius: $tag-border-radius;
    display: inline-block;
    font-size: $tag-font-size !important;
    font-weight: $tag-font-weight !important;
    height: $tag-height;
    line-height: $tag-line-height !important;
    margin-right: $tag-margin-right;
    text-align: center;
    text-transform: uppercase;
    min-width: $tag-width;
    padding: $tag-padding;
    color: $tag-font-color;
}

.blueBackground {
    background-color: $note-color;
}

.purpleBackground {
    background-color: $caution-color;
}

.redBackground {
    background-color: $important-color;
}

.greenBackground {
    background-color: $tip-color;
}

.greyBackground {
    background-color: $disabledcolor;
}

.orangeBackground {
    background-color: $warning-color;
}

.yellowBackground {
    background-color: $tag-color-yellow;
}

/*Tags style end*/

/* Div box style start */

.boxDiv {
    padding: 10px;
    display: inline-block;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.boxHalfWidth {
    width: 48%;
    display: inline-block;
}

.boxFullWidth {
    width: 100%;
}

.divider {
    border-bottom: 1px solid var(--border-color);
    display: block;
    width: 100%;
    margin: 0 auto;
}

.boxBody {
    font-weight: $font-size-doc;
    font-size: $font-size-normal;
    line-height: $line-height-doc;
    color: var(--primary-color);

}



/* Div box style end */

/*Scrollbar styling start*/
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar {
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    outline: none;
    border-radius: 4px;
}

/* Scrollbar styling end*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .documentBody {
        width: calc(100% - 260px);
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .introWrapper {
        margin-top: $margin-top-mobile;
    }

    .documentBody {
        width: 100%;
        padding-left: 0;
    }

    .boxDiv {
        width: 100%;
    }

    .boxHalfWidth {
        width: 100%;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    main.withHeaderFooter {
        flex-direction: column;
    }
}
