$gutter: 0;
/*Colors*/
$gray-80: #323946;
$white: #fff;
$darkblue: #2770ef;
$secondarycolor: #2770ef;
$lightgrey: #eaedf2;
$darkgrey: #777e8b;
$hovercolor: rgba(113, 161, 244, 0.12);
$text-container-background: rgba(192, 198, 207, 0.12);
$disabledcolor: #a5acb9;
$result-container-max-height: 320px;
$result-height: 64px;
$highlight-grey: #6e7781;
$highlight-darkgrey: #333;
$highlight-green: #188038;
$highlight-red: #d14;
$highlight-darkred: #900;
$highlight-blue: #0550ae;
$highlight-lightgreen: #009926;
$highlight-lightgrey: #999;
$highlight-peach: #fdd;
$highlight-fadedgreen: #dfd;
$highlight-yellow:#e18114;

$header-zIndex: 99;
$header-logo-width: 158px;
$header-link-margin: 45px;
$font-weight-normal: 300;
$font-weight-bold: 500;
$line-height-normal: 31px;
$line-height-button: 16px;
$line-height-doc: 1.6rem;
$line-height-result-title: 20px;
$line-height-result-footer: 18px;
$font-size-small: 12px;
$font-size-home: 13px;
$font-size-normal: 14px;
$font-size-table: 14px;
$font-size-doc: 14.5px;
$font-size-code: 13.5px;
$line-height-code: 1.4rem; 
$font-size-large: 18px;
$font-size-404: 1.25rem;
$padding-md: 24px;
$margin-lg: 35px;
$margin-md: 24px;
$margin-sm: 16px;
$margin-xs: 5px;
$padding-xs: 5px;
$padding-sm: 10px;
$padding-lg: 28px;
$document-margin-top: 88px;
$document-padding: 20px;
$padding-nested-ul: 12px;
$margin-links: 16px;
$docmap-width-desktop: 250px;
$docmap-width-tablet: 180px;
$docmap-width-mobile: 100%;
$tablet-resolution-min: 767px;
$tablet-resolution-max: 1024px;
$mobile-resolution-max: 600px;
$box-shadow-search-box: 0px 0px 4px rgba(25, 35, 49, 0.08),
    0px 12px 24px rgba(25, 35, 49, 0.12);
$height-search-icon: 16px;
$width-search-icon: 16px;
$height-search-input: 32px;
$margin-search-result: 16px;
$padding-left-search-input: 36px;
$font-family-code: Roboto,Consolas,Monaco,monospace;
$font-family-doc: Optimo-Plain;
$font-family-back-button: Optimo-Plain;
$width-back-button: 32px;
$height-back-button: 32px;
$font-color-back-button: #777e8b;
$margin-top-mobile: 58px;
$menu-icon-width: 43px;
$z-index-search: 1;
$z-index-left-nav: 9;
$arrow-icon-width: 12px;
$title-margin: 10px;
$sub-title-margin: 30px;
$sub-title-margin-h5: 10px;
$font-size-h2: 26px;
$font-size-h3: 23px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-summ-title: 17px;
$font-size-breadcrums: 13px;
$icon-width: 16px;
$icon-height: 16px;
$arrow-icon-width: 20px;
$arrow-icon-height: 20px;

/* Preview link variables */

$preview-padding: 8px 16px;
$preview-border-radius: 16px;
$preview-margin-bottom: 8px;
$preview-height: 32px;

/* Toggle button variables */

$switch-width: 80px;
$switch-height: 34px;
$slider-width: 26px;
$slider-height: 26px;
$slider-background: #ccc;

/* Admonition variables */

$caution-color: #a0439c;
$important-color: #d32f2f;
$note-color: #217ee7;
$tip-color: #41af46;
$warning-color: #e18114;
$color-white: #fff;
$color-smoke-30: #fafafa;
$warning-on-color: $color-white;
$caution-on-color: $color-white;
$important-on-color: $color-white;
$note-on-color: $color-white;
$tip-on-color: $color-white;
$panel-background: $color-smoke-30;
/* fonts */
$rem-base: 18;
$body-font-size-desktop: 1.125em; /* 18px */
$body-font-size-print: 0.9375em; /* 15px */
$body-line-height: 1.15;
$body-font-family: 'Roboto', sans-serif;
$body-font-weight-bold: 500;
$monospace-font-family: 'Roboto Mono', monospace;
$monospace-font-weight-bold: 500;
$admonition-label-font-weight: $body-font-weight-bold;
$admonition-title-font-size: 12px;
$admonition-title-line-height: 20px;
$admonition-font-factor-p: 16;
$admonition-content-line-height: 24px;
$admonition-font-factor-pre: 15;


/*Tag variables*/
$beta-border-radius: 5px;
$beta-padding: 0 5px;
$tag-border-radius: 10px;
$tag-font-size: 13px;
$tag-font-weight: 400;
$tag-height: 28px;
$tag-line-height: 28px;
$tag-margin-right: 5px;
$tag-padding: 0 10px;
$tag-width: auto;
$tag-font-color: #fff;
$tag-color-yellow: #ffbc00;
$tag-color-white: var(--body-background-color);
$tag-color-light: $lightgrey;

:root {
    --body-background-color: #fff;
    --primary-color: #1d232f;
    --breadcrums-font-color: #5f6368;
    --announcement-block-color: #f1f1f1;
    --admonition-background: #fff;
    --code-block-color: #f6f8fa;
    --text-color-code-lang: #999;
    --icon-color: #999;
    --back-button-background: #eaedf2;
    --border-color: #c0c6cf;
    --table-header-color: #fff;
    --border-color-tr: #e6e6e6; 
    --scrollbar-color: #a5acb9;
    --color-jet-70: #d14;
    --highlight-purple: #9334e6;
    --highlight-green: #188038;
    --highlight-lightgreen:#009926; 
    --highlight-lightblue: #0086b3;
    --highlight-darkblue: #000080;
    --highlight-blue: #458;
    --highlight-darkred: #900;
    --highlight-violet: #990073;
    --secondary-color: #2770ef;
    --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 12%), 0 0px 6px 0 rgba(0, 0, 0, 11%);
    --box-shadow-hover: 0 16px 20px 0 rgba(0, 0, 0, 12%),
        0 16px 20px 0 rgba(0, 0, 0, 12%);
}

#wrapper[data-theme='dark'] {
    --body-background-color: #21252c;
    --primary-color: #E8EAED;
    --breadcrums-font-color: #a5acb9;
    --announcement-block-color: #3c4356;
    --admonition-background: #3c4356;
    --code-block-color: #3c4356;
    --text-color-code-lang: #fff;
    --icon-color: #fff;
    --table-header-color: #3c4356;
    --back-button-background: #a4abb8;
    --border-color: #3c4356;
    --border-color-tr:#3c4356;
    --scrollbar-color: #3c4356;
    --color-jet-70: #e18114;
    --highlight-purple: #40c4ff;
    --highlight-green: aquamarine;
    --highlight-lightgreen:#009926; 
    --highlight-lightblue: #90caf9;
    --highlight-darkblue: #9fa8da;
    --highlight-blue: #c5cae9;
    --highlight-darkred: #ef9a9a;
    --highlight-violet: #f8bbd0;
    --secondary-color: #8388fe;
    --box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 12%),
        0 0px 6px 0 rgba(255, 255, 255, 11%);
    --box-shadow-hover: 0 16px 20px 0 rgb(255 255 255 / 6%),
        0 16px 20px 0 rgb(255 255 255 / 6%);
}
