$gutter: 0;
/*Colors*/
$gray-80: #323946;
$white: #fff;
$darkblue: #2770ef;
$secondarycolor: #2770ef;
$lightgrey: #eaedf2;
$darkgrey: #777e8b;
$hovercolor: rgba(113, 161, 244, 0.12);
$text-container-background: rgba(192, 198, 207, 0.12);
$disabledcolor: #a5acb9;
$result-container-max-height: 320px;
$result-height: 64px;
$highlight-grey: #998;
$highlight-darkgrey: #333;
$highlight-green: #008080;
$highlight-red: #d14;
$highlight-darkred: #900;
$highlight-blue: #458;
$highlight-darkblue: #000080;
$highlight-lightgreen: #009926;
$highlight-violet: #990073;
$highlight-lightblue: #0086b3;
$highlight-lightgrey: #999;
$highlight-peach: #fdd;
$highlight-fadedgreen: #dfd;
$highlight-purple: #0000cd;

$header-zIndex: 99;
$header-logo-width: 158px;
$footer-zIndex: 99;
$font-weight-normal: 300;
$font-weight-bold: 500;
$line-height-normal: 31px;
$line-height-button: 16px;
$line-height-doc: 1.6rem;
$line-height-result-title: 20px;
$line-height-result-footer: 18px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-table: 15px;
$font-size-doc: 16px;
$font-size-large: 18px;
$font-size-404: 1.25rem;
$padding-md: 24px;
$margin-lg: 40px;
$margin-md: 24px;
$margin-xs: 5px;
$padding-xs: 5px;
$padding-sm: 10px;
$document-margin-top: 81px;
$padding-nested-ul: 12px;
$margin-links: 16px;
$docmap-width-desktop: 300px;
$docmap-width-tablet: 210px;
$docmap-width-mobile: 100%;
$tablet-resolution-min: 767px;
$tablet-resolution-max: 1024px;
$mobile-resolution-max: 600px;
$box-shadow-search-box: 0px 0px 4px rgba(25, 35, 49, 0.08),
    0px 12px 24px rgba(25, 35, 49, 0.12);
$height-search-icon: 16px;
$width-search-icon: 16px;
$height-search-input: 32px;
$margin-search-result: 16px;
$padding-left-search-input: 36px;
$font-family-code: Consolas, Monaco, monospace;
$font-family-doc: Optimo-Plain;
$font-family-back-button: Optimo-Plain;
$width-back-button: 32px;
$height-back-button: 32px;
$margin-top-mobile: 55px;
$menu-icon-width: 43px;
$z-index-search: 1;
$z-index-left-nav: 9;
$arrow-icon-width: 12px;
$sub-title-margin: 30px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$icon-width: 16px;
$icon-height: 16px;

/* Toggle button variables */

$switch-width: 80px;
$switch-height: 34px;
$slider-width: 26px;
$slider-height: 26px;
$slider-background: #ccc;

/* Admonition variables */

$caution-color: #a0439c;
$important-color: #d32f2f;
$note-color: #217ee7;
$tip-color: #41af46;
$warning-color: #e18114;
$color-white: #fff;
$color-smoke-30: #fafafa;
$color-jet-70: #222;
$warning-on-color: $color-white;
$caution-on-color: $color-white;
$important-on-color: $color-white;
$note-on-color: $color-white;
$tip-on-color: $color-white;
$panel-background: $color-smoke-30;
/* fonts */
$rem-base: 18;
$body-font-size-desktop: 1.125em; /* 18px */
$body-font-size-print: 0.9375em; /* 15px */
$body-line-height: 1.15;
$body-font-family: 'Roboto', sans-serif;
$body-font-weight-bold: 500;
$monospace-font-family: 'Roboto Mono', monospace;
$monospace-font-weight-bold: 500;
$admonition-label-font-weight: $body-font-weight-bold;
$admonition-title-font-size: 12px;
$admonition-title-line-height: 20px;
$admonition-font-factor-p: 16;
$admonition-font-factor-pre: 15;

/*Tag variables*/

$tag-border-radius: 14px;
$tag-font-size: 16px;
$tag-font-weight: 700;
$tag-height: 28px;
$tag-line-height: 28px;
$tag-margin-right: 10px;
$tag-padding: 0 10px;
$tag-width: 100px;
$tag-font-color: #fff;
$tag-color-yellow: #ffbc00;

:root {
    --body-background-color: #fff;
    --primary-color: #1d232f;
    --admonition-background: #fafafa;
    --code-block-color: #f6f8fa;
    --text-color-code-lang: $darkgrey;
    --icon-color: #1d232f;
    --back-button-background: #e6e6e6;
    --border-color: #c0c6cf;
    --secondary-color: #2770ef;
}

#wrapper[data-theme='dark'] {
    --body-background-color: #21252c;
    --primary-color: #fff;
    --admonition-background: #3c4356;
    --code-block-color: #3c4356;
    --text-color-code-lang: #fff;
    --icon-color: #fff;
    --back-button-background: #191966;
    --secondary-color: #8388fe;
}
