@import '../../assets/styles/variables.scss';

footer {
    width: 100%;
    background: var(--body-background-color);

    .footerWrapper {
        text-align: center;
        color: var(--primary-color);
        font-size: 12px;
        font-weight: 300;
    }
}
