@import '../../assets/styles/variables.scss';

.button {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    padding: 5px 16px;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    border: 0;
    &.primary {
        color: $white;
        background: $darkblue;
        border-radius: 14px;
        outline: none;
    }
    &.secondary {
        color: $white;
        background: $gray-80;
        outline: none;
    }
}
