$gutter: 0;
$gray-80: #323946;
$white: #fff;
$darkblue: #2770ef;
$primarycolor: #1d232f;
$secondarycolor: #2770ef;
$lightgrey: #eaedf2;
$darkgrey: #777e8b;
$borderColor: #c0c6cf;
$hovercolor: rgba(113, 161, 244, 0.12);
$disabledcolor: #a5acb9;
$header-zIndex: 99;
$font-weight-normal: 300;
$font-weight-bold: 500;
