.visualisation {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.tsEmbed {
    flex: 1 1 0;
    width: 100%;
}

.embedSpinner {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}