@import '../../assets/styles/variables.scss';

.docmapLinks {
    width: 300px;
    padding: 68px 24px;
    border-left: 1px $lightgrey solid;
    position: fixed;
    right: 0;
    font-size: $font-size-normal;
    height: 100vh;
    overflow-y: auto;

    .tocTitle {
        padding-left: 40px;
        margin: 0;
        color: $disabledcolor;
        line-height: $line-height-normal;
    }

    div {
        ul {
            margin-top: 0px;
            list-style-type: none;
            li {
                line-height: $line-height-normal;

                a {
                    color: $primarycolor;
                }

                a:hover {
                    color: $secondarycolor;
                }

                a:visited {
                    color: $secondarycolor;
                }
            }
        }
    }

    #toctitle {
        display: none;
    }
}

.defaultStyle {
    color: $primarycolor;
    padding: 8px 0;
    display: inline-block;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .docmapLinks {
        width: 210px;
    }
}
