@import '../../assets/styles/variables.scss';

.docmapLinks {
    width: $docmap-width-desktop;
    padding: $padding-md 0;
    border-left: 1px $lightgrey solid;
    position: fixed;
    right: 0;
    font-size: $font-size-normal;
    height: 100vh;
    overflow-y: auto;

    .tocTitle {
        margin: 0;
        color: $disabledcolor;
        line-height: $line-height-normal;
        padding-left: $padding-md;
    }

    div {
        ul {
            margin-top: 0px;
            list-style-type: none;
            padding-left: $padding-md;
            li {
                margin: $margin-links 0;

                a {
                    color: $primarycolor;
                    font-weight: $font-weight-normal;
                }

                a:hover {
                    color: $secondarycolor;
                }

                ul {
                    padding-left: $padding-nested-ul;
                }
            }
        }
    }

    #toctitle {
        display: none;
    }
}

.defaultStyle {
    color: $primarycolor;
    padding: 8px 0;
    display: inline-block;
}

.activeTag {
    color: $secondarycolor !important;
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .docmapLinks {
        width: $docmap-width-mobile;
    }
}
