@import '../../assets/styles/variables.scss';

.docmapLinks {
    width: 16%;
    padding: $padding-md;
    border-left: 1px var(--border-color) solid;
    box-shadow: var(--box-shadow);
    position: fixed;
    right: 0;
    font-size: $font-size-normal;
    height: 100vh;
    overflow-y: auto;

    .tocTitle {
        margin: 0;
        color: $disabledcolor;
        line-height: $line-height-normal;
        padding-left: $padding-sm;
    }

    div {
        ul {
            margin-top: 0px;
            list-style-type: none;
            padding-left: $padding-sm;
            background-color: var(--border-color) solid;
            li {
                margin: $margin-links 0;

                a {
                    color: var(--primary-color);
                    font-weight: $font-weight-normal;
                }

                a:hover {
                    color: var(--secondary-color);
                }

                ul {
                    padding-left: $padding-nested-ul;
                }
            }
        }
    }

    #toctitle {
        display: none;
    }
}

.defaultStyle {
    color: var(--primary-color);
    padding: 8px 0;
    display: inline-block;
}

.activeTag {
    color: var(--secondary-color) !important;
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .docmapLinks {
        display: none;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .docmapLinks {
        display: none;
    }
}
