@import '../../assets/styles/variables.scss';

.searchWrapper {
    padding: $padding-md;
    border-bottom: 1px var(--border-color) solid;
    box-shadow: var(--box-shadow);
    position: fixed;
    width: calc(100% - 250px);
    background: var(--body-background-color);
    z-index: $z-index-search;
    display: flex;
}

.inClusterSite {
    top: 0;
}

.searchInputWrapper {
    position: relative;
    width: calc(100% - 350px);

    .searchInputContainer {
        display: flex;
        align-items: center;
    }

    input {
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        height: $height-search-input;
        padding-left: $padding-left-search-input;
        font-size: $font-size-normal;
        color: var(--primary-color);
        font-family: $font-family-doc;
        padding-bottom: 1px;
        background: var(--body-background-color);
    }

    input:focus {
        outline: 0;
    }

    input::placeholder {
        color: $darkgrey;
    }

    .searchIcon {
        position: relative;
        left: 30px;
        height: $icon-width;
        width: $icon-height;
    }

    .resultContainer {
        position: absolute;
        background-color: var(--body-background-color);
        width: calc(100% - 20px);
        max-height: $result-container-max-height;
        top: 38px;
        border-radius: 6px;
        border: 1px solid var(--border-color);
        box-shadow: $box-shadow-search-box;
        overflow: auto;
        left: 20px;
    }

    .result {
        height: $result-height;
        border-bottom: 1px solid var(--border-color);
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 8px 0px;

        .title {
            margin: 2px $margin-search-result 0px $margin-search-result;
            line-height: $line-height-result-title;
            font-size: $font-size-normal;
            font-weight: $font-weight-normal;
            color: var(--primary-color);
        }

        .footer {
            margin: 5px $margin-search-result;
            font-weight: $font-weight-normal;
            font-size: $font-size-small;
            line-height: $line-height-result-footer;
            color: var(--primary-color);
        }
        &:hover {
            background: $text-container-background;
        }
        cursor: pointer;
    }

    .active {
        background: $text-container-background;
    }
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .searchInputWrapper {
        width: 78%;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .searchWrapper {
        left: 0;
        padding: 12px;
        width: 100%;

        .searchInputWrapper {
            width: 86%;
        }
    }

    .visHidden {
        visibility: hidden;
    }
}
