@import '../../assets/styles/variables.scss';

header {
    background: var(--header-color);
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: var(--header-border-color);
    z-index: $header-zIndex;

    .thoughtspotLogo {
        vertical-align: middle;
        width: $header-logo-width;
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .logo {
        padding-right: 0px;
    }

    .docsWrapper {
        margin-left: 15px;
        color: $lightgrey;
        cursor: pointer;
    }

    .headerLink {
        a {
            margin-left: $header-link-margin;
            cursor: pointer;
            color: $lightgrey;
        }
        @media (max-width: 820px) {
            display: none;
        }
    }

    .headerLinkSelf {
            a {
                margin-left: $header-link-margin;
                cursor: pointer;
                color: $lightgrey;
            }
            @media (max-width: 820px) {
                display: none;
            }
        }

}
