@import '../../assets/styles/variables.scss';

header {
    background: $gray-80;
    position: fixed;
    width: 100%;
    z-index: $header-zIndex;

    .thoughtspotLogo {
        vertical-align: middle;
        width: $header-logo-width;
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
