@import '../../assets/styles/variables.scss';

header {
    background: $gray-80;
    position: fixed;
    width: 100%;
    z-index: $header-zIndex;

    .thoughtspotLogo {
        vertical-align: middle;
        width: $header-logo-width;
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        border-right: 1.5px solid $lightgrey;
        padding-right: 15px;
    }

    .docsWrapper {
        margin-left: 15px;
        color: $lightgrey;
        cursor: pointer;
    }

    .headerLink {
        a {
            margin-left: $header-link-margin;
            cursor: pointer;
            color: $lightgrey;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}
