.header {
    height: 50;
    width: 100%;
    border-bottom: 1px solid black;

    .logo {
        width: 200px;
    }

    .searchBox {
        margin: 10px;
        width: 200px;
    }
}

.container {
    width: 100%;
    height: 600px;
    display: flex;

    .leftSidebar,
    .contentArea {
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;

        .docContentArea {
            padding: 0 15px;
            width: 100%;
        }
    }

    .leftSidebar {
        width: 20%;
    }

    .contentArea {
        width: 65%;
    }

    .rightSidebar {
        width: 15%;
        display: inline-flex;
    }
}
