$caution-color: #a0439c;
$important-color: #d32f2f;
$note-color: #217ee7;
$tip-color: #41af46;
$warning-color: #e18114;
$color-white: #fff;
$color-smoke-30: #fafafa;
$color-jet-70: #222;
$warning-on-color: $color-white;
$caution-on-color: $color-white;
$important-on-color: $color-white;
$note-on-color: $color-white;
$tip-on-color: $color-white;
$panel-background: $color-smoke-30;
/* fonts */
$rem-base: 18;
$body-font-size--desktop: 1.125em; /* 18px */
$body-font-size--print: 0.9375em; /* 15px */
$body-line-height: 1.15;
$body-font-color: $color-jet-70;
$body-font-family: 'Roboto', sans-serif;
$body-font-weight-bold: 500;
$monospace-font-family: 'Roboto Mono', monospace;
$monospace-font-weight-bold: 500;
$admonition-background: $panel-background;
$admonition-label-font-weight: $body-font-weight-bold;
$admonition-title-font-size: 12px;
$admonition-title-line-height: 18px;
