@import '../../assets/styles/variables.scss';

.backButtonWrapper {
    display: flex;
    padding-left: 24px;
    align-items: center;

    button {
        width: $width-back-button;
        height: $height-back-button;
        display: block;
        border-radius: 50%;
        border: none;
        outline: none;
        margin-right: 10px;
    }

    img {
        padding-top: 3px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    p {
        color: $darkgrey;
        font-size: $font-size-normal;
        font-family: $font-family-back-button;
    }
}
