@import '../../static/styles/variables.scss';

.backButtonWrapper {
    display: flex;
    padding-left: 24px;
    align-items: center;

    button {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        border: none;
        outline: none;
        margin-right: 10px;
    }
    img {
        padding-top: 3px;
    }
    p {
        color: $darkgrey;
        font-size: 14px;
    }
}
