@import '../../assets/styles/variables.scss';

.backButtonWrapper {
    display: flex;
    padding-left: 24px;
    align-items: center;

    button {
        width: $width-back-button;
        height: $height-back-button;
        display: block;
        border-radius: 50%;
        border: none;
        outline: none;
        margin-right: 10px;
        background: var(--back-button-background);
    }

    .leftIcon {
        height: $icon-width;
        width: $icon-height;
        position: relative;
        top: 2px;
    }

    p {
        color: var(--primary-color);
        font-size: $font-size-normal;
        font-family: $font-family-back-button;
    }
}
