/*start sidebar*/

@import '../../assets/styles/variables.scss';

aside {
    width: 260px;
    border-right: 1px $lightgrey solid;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    left: $gutter;
    height: 100vh;
    overflow-y: auto;

    .heading {
        padding: 39px 0px 26px 24px;
        margin: 0;
        font-size: 18px;
    }

    .subHeading {
        margin: $gutter;
        padding-bottom: 10px;
        padding-left: 24px;
        font-size: 14px;
    }

    ul {
        list-style-type: none;
        margin: $gutter;
        padding: $gutter;
    }

    .navWrapper {
        margin-bottom: 32px;

        & > .ulist {
            margin-bottom: 22px;

            & > ul > li {
                & > p {
                    padding-left: 24px;
                    padding-right: 5px;
                    color: $primarycolor;
                    font-weight: 600;
                    margin: 5px 0;
    
                    & > a {
                        color: $primarycolor;
                        font-weight: 600;
                        padding-right: 5px;
                    }
                }

                & > div.ulist > ul > li {
                    & > p {
                        padding-left: 42px;
                        font-weight: 300 !important;
                        color: $primarycolor;
                        padding-right: 5px;
                        margin: 5px 0;
                        line-height: 32px;
    
                        & > a {
                            color: $primarycolor;
                            padding-right: 5px;

                            &:hover {
                                color: $secondarycolor;
                            }
                        }

                        &:hover {
                            background: $hovercolor;
                            color: $secondarycolor;
                        }
                    }
                }
            }
        }

    }

    a {
        font-size: 14px;
        font-family: 'Plain';
        font-weight: 300;
        line-height: 32px;
        width: 100%;
        display: inline-block;
    }

    hr {
        display: none;
    }
    
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    aside {
        width: 210px;
    }
}
