/*start sidebar*/
@import '../../assets/styles/variables.scss';

aside {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    width: 100%;
    border-right: 1px $lightgrey solid;
    left: $gutter;
    height: 100vh;
    overflow-y: auto;

    .heading {
        padding: $padding-md 0px 26px $padding-md;
        margin: 0;
        font-size: $font-size-large;
    }

    .subHeading {
        margin: $gutter;
        padding-bottom: $padding-sm;
        padding-left: $padding-md;
        font-size: $font-size-normal;
    }

    ul {
        list-style-type: none;
        margin: $gutter;
        padding-left: $padding-md;
    }

    .navWrapper {
        margin-bottom: 32px;

        & > .ulist {
            & > ul > li {
                margin-bottom: $margin-lg;
                & > p {
                    padding-right: $padding-xs;
                    color: $primarycolor;
                    font-weight: $font-weight-bold;
                    & > a {
                        color: $primarycolor;
                        font-weight: $font-weight-bold;
                        padding-right: $padding-xs;
                    }
                }

                .ulist {
                    ul {
                        padding-left: $padding-nested-ul;
                        li {
                            margin: $margin-links 0;
                            p {
                                font-weight: $font-weight-normal;
                                color: $primarycolor;
                                padding-right: $padding-xs;

                                a {
                                    color: $primarycolor;
                                    padding-right: $padding-xs;

                                    &:hover {
                                        color: $secondarycolor;
                                    }
                                }

                                &:hover {
                                    color: $secondarycolor;
                                }
                            }
                        }
                    }
                }
            }
        }

        .paragraph {
            padding-left: $padding-md;
            margin-bottom: $margin-lg;

            p {
                padding-right: $padding-xs;
                margin: $margin-xs 0;
            }
        }
    }

    a {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        width: 100%;
        display: inline-block;
    }

    hr {
        display: none;
    }
}

/* Overriding react-resizable package class to match UI */
.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: 0;
    cursor: col-resize;
}

.resizable {
    position: fixed;
}
