/*start sidebar*/
@import '../../assets/styles/variables.scss';

.menuMain {
    position: relative;
    top: 10px;
    z-index: $z-index-left-nav;

    .menuContainer {
        cursor: pointer;
        padding-right: $padding-xs;
        position: fixed;
        right: 0;

        svg {
            width: 30px;
            height: 35px;
            position: relative;
            top: 0;
            padding-left: 5px;
            transition: opacity 0.5s, transform 0.5s;

            &:first-child {
                float: right;
            }

            &:last-child {
                left: 34px;
            }

            &:nth-child(2) {
                left: 40px;
                top: -5px;
                padding-left: 7px;
            }
        }

        .imgOpacity {
            opacity: 0;
            transform: rotate(90deg);
        }

        .clearIcon {
            width: 40px;
            height: 40px;
        }
    }
}

.asideDisplay {
    display: block;
}

aside {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    width: 100%;
    border-right: 1px var(--border-color) solid;
    left: $gutter;
    height: 100vh;
    overflow-y: auto;

    .heading {
        padding: $padding-md 0px 26px $padding-md;
        margin: 0;
        font-size: $font-size-large;
        color: var(--primary-color);
    }

    .subHeading {
        margin: $gutter;
        padding-bottom: $padding-sm;
        padding-left: $padding-md;
        font-size: $font-size-normal;
    }

    ul {
        list-style-type: none;
        margin: $gutter;
        padding-left: $padding-md;
    }

    .navWrapper {
        margin-bottom: 32px;

        & > .ulist {
            & > ul > li {
                margin-bottom: $margin-lg;
                & > p {
                    padding-right: $padding-xs;
                    color: var(--primary-color);
                    font-weight: $font-weight-bold;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    & > a {
                        color: var(--primary-color);
                        font-weight: $font-weight-bold;
                        padding-right: $padding-xs;
                    }
                }

                .ulist {
                    ul {
                        padding-left: $padding-nested-ul;
                        li {
                            margin: $margin-links 0;
                            p {
                                font-weight: $font-weight-normal;
                                color: var(--primary-color);
                                padding-right: $padding-xs;

                                a {
                                    color: var(--primary-color);
                                    padding-right: $padding-xs;

                                    &:hover {
                                        color: var(--secondary-color);
                                    }
                                }

                                &:hover {
                                    color: var(--secondary-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .paragraph {
            padding-left: $padding-md;
            margin-bottom: $margin-lg;

            p {
                padding-right: $padding-xs;
                margin: $margin-xs 0;
            }
        }

        .iconSpan {
            position: relative;
            right: 8px;
            top: 0px;
            float: right;
            padding-left: 15px;

            img {
                width: $arrow-icon-width;
                position: relative;
                top: 2px;
            }
        }
    }

    .navWrapper.withHeaderFooter {
        margin-bottom: 90px;
    }

    a {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        width: 100%;
        display: inline-block;
    }

    hr {
        display: none;
    }

    a[target='_blank'] {
        display: flex;
        align-items: center;
    }

    .linkTitle {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .externalLinkIcon {
        height: $icon-width;
        width: $icon-height;
        margin-left: 10px;
    }

    .forwardArrowIcon {
        height: $icon-width;
        width: $icon-height;
        position: relative;
        top: 2px;
    }

    .downArrowIcon {
        width: 25px;
        height: 25px;
        position: relative;
        top: 2px;
    }

    .toggleContainer {
        display: flex;
        justify-content: center;
    }
}

/* Overriding react-resizable package class to match UI */
.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: 0;
    cursor: col-resize;
}

.resizable {
    position: fixed;
}

@media screen and (max-width: $mobile-resolution-max) {
    aside {
        height: 100%;
        display: none;
        padding-top: 0;
        padding-bottom: 0;

        .navWrapper,
        .navWrapper.withHeaderFooter {
            margin-bottom: 0;
        }
    }
}