@import '../../assets/styles/variables.scss';

.documentWrapper {
    width: calc(100% - 300px);
    padding: $padding-md;

    /* In order to hide TOC in main component */
    #toc {
        display: none;
    }

    h1 {
        margin-top: 0;
    }

    p {
        font-weight: $font-weight-normal;
        font-size: $font-size-doc;
        line-height: $line-height-doc;
    }

    img {
        width: 100%;
    }

    pre {
        white-space: pre-wrap;
        background: $code-block-color;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
    }

    pre.highlight:hover {
        .copyButton {
            visibility: visible;
        }

        .lang {
            visibility: visible;
        }
    }

    .lang {
        position: relative;
        top: -14px;
        text-transform: uppercase;
        visibility: hidden;
        color: $darkgrey;
    }

    #preview-in-playground {
        background: $secondarycolor;
        color: $white;
        font-size: $font-size-normal;
        font-weight: 300;
        padding: $padding-xs $padding-sm;
        border: 0;
        border-radius: 2px;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    tr,
    th,
    td {
        border: 1px solid $borderColor;
    }

    td {
        padding: $padding-sm;
        text-align: left;
        font-weight: $font-weight-normal;
    }

    th {
        padding: $padding-sm;
        text-align: center;
    }

    h2 {
        margin-top: $margin-lg;
    }

    .copyButton {
        position: relative;
        height: 20px;
        top: -10px;
        margin-left: 10px;
        border: 0;
        border-left: 1px solid $darkgrey;
        background: transparent;
        visibility: hidden;
        outline: none;
        padding-left: 10px;

        img {
            width: 17px;
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
      }
      
      .tooltip .tooltiptext {
        width: 120px;
        background-color: $gray-80;
        color: white;
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        right: -35px;
        top: 10px;
        z-index: 1;
      }

    /*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
    .hljs-comment,
    .hljs-quote {
        color: #998;
        font-style: italic;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-subst {
        color: #333;
        font-weight: $font-weight-bold;
    }

    .hljs-number,
    .hljs-literal,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-tag .hljs-attr {
        color: #008080;
    }

    .hljs-string,
    .hljs-doctag {
        color: #d14;
    }

    .hljs-title,
    .hljs-section,
    .hljs-selector-id {
        color: #900;
        font-weight: $font-weight-bold;
    }

    .hljs-subst {
        font-weight: normal;
    }

    .hljs-type,
    .hljs-class .hljs-title {
        color: #458;
        font-weight: $font-weight-bold;
    }

    .hljs-tag,
    .hljs-name,
    .hljs-attribute {
        color: #000080;
        font-weight: normal;
    }

    .hljs-regexp,
    .hljs-link {
        color: #009926;
    }

    .hljs-symbol,
    .hljs-bullet {
        color: #990073;
    }

    .hljs-built_in,
    .hljs-builtin-name {
        color: #0086b3;
    }

    .hljs-meta {
        color: #999;
        font-weight: $font-weight-bold;
    }

    .hljs-deletion {
        background: #fdd;
    }

    .hljs-addition {
        background: #dfd;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: var(--monospace-font-weight-bold);
    }

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .documentWrapper {
        width: calc(100% - 210px);
    }
}

pre {
    white-space: pre-wrap;
}
