@import '../../assets/styles/variables.scss';

.documentWrapper {
    width: calc(100% - 300px);
    padding: 60px;
    
    /* In order to hide TOC in main component */
    #toc {
        display: none;
    }

    p {
        font-weight: $font-weight-normal;
    }

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .documentWrapper {
        width: calc(100% - 210px);
    }
}

pre {
    white-space: pre-wrap;
}
