# This is a basic workflow to help you get started with Actions

name: publishToNPM

# Controls when the action will run. Triggers the workflow on pull request
# event
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'NPM tag for the release (e.g., latest, beta, alpha, next)'
        required: false
        default: 'latest'
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
            node-version: '20.19.4'
            registry-url: 'https://registry.npmjs.org'

      - name: Get Branch Name
        id: branch_name
        run: echo "::set-output name=BRANCH_NAME::$(git branch --show-current)"
        
      - name: Get Latest Tag 
        id: latest_tag
        run: |
          echo "Getting Git tag list.."
          git fetch --depth=1 origin +refs/tags/*:refs/tags/* | sort -V
          
          echo "Getting the latest Git tag."
          git tag -l | sort -V | tail -n 1  
          
          # Get the latest Git tag and set it as an output variable
          echo "::set-output name=LATEST_TAG::$(git tag -l | sort -V | tail -n 1)"           
      
      - name: Update npm
        run: npm install -g npm@latest # latest version of npm for OIDC
      
      # Run npm install
      - name: Run npm install
        run: npm install --legacy-peer-deps

      # Publish
      - name: Publish
        run: |
          BRANCH_NAME="${{ steps.branch_name.outputs.BRANCH_NAME }}"
          NPM_TAG="${{ github.event.inputs.tag }}"
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "publish prod with tag: $NPM_TAG"
            npm publish --tag $NPM_TAG
          elif [ "$NPM_TAG" = "latest" ]; then
            echo "Error: 'latest' tag can only be used when publishing from the main branch"
            echo "Current branch: $BRANCH_NAME"
            exit 1
          else
            CURRENT_VERSION=$(node -p "require('./package.json').version")
            if [[ "$CURRENT_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo "Error: Stable versions (X.Y.Z) can only be published from the main branch"
              echo "Current version: $CURRENT_VERSION"
              echo "Current branch: $BRANCH_NAME"
              echo "Please use a pre-release version (e.g., X.Y.Z-beta.1, X.Y.Z-alpha.0) for non-main branches"
              exit 1
            fi
            echo "Publishing from $BRANCH_NAME branch with tag: $NPM_TAG"
            npm publish --tag $NPM_TAG
          fi

      - name: Create Draft Release
        if: success() && steps.branch_name.outputs.BRANCH_NAME == 'release'
        run: |
            CURRENT_VERSION=$(node -p "require('./package.json').version")
            echo "Current Version: $CURRENT_VERSION"
            
            PREV_TAG=$(git tag -l | sort -V | tail -n 1)
            echo "LAST TAG: $PREV_TAG"
            
            # Extract commit messages between previous and current versions
            COMMIT_MESSAGES=$(git log --pretty=format:"%s" $PREV_TAG..HEAD | uniq | sed -E 's/\(#[0-9]+\)//g')
            echo "commit : $COMMIT_MESSAGES"
          
            # Create draft Release
            gh release create "$CURRENT_VERSION" -t "Release $CURRENT_VERSION" -n "$COMMIT_MESSAGES" -d   
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

